body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto; 
    min-height: 100vh;
}

.container {
    margin-top: -150px;
    margin-left: -50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block {
    width: 400px;
    height: 550px;
    background-color: #0c3150;
    border-radius: 20px;
    margin: 20px;
}

/*Tender block */
.Tender_block { 
    background-image: url('../assest/Tender - Laptop.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 10% -50%;
}

.Tender_block p {
    color: white;
    padding: 10px;
    margin-top: 280px; 
    text-align: center;
}

.Tender_github {
    /* image */
    background-image: url('../assest/github_logo\ \(white\).png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 10% 50%;

    /* button */
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: rgb(85, 72, 228);
    border-radius: 10%;
    color: #fff;
    line-height: 42px;
    text-decoration: none;
    text-align: right;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 18px;
    padding-right: 10px;
}

.Tender_demo{
    /* image */
    background-image: url('../assest/play_symbole\ \(1\).png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 10% 50%;

    /* button */
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: rgb(85, 72, 228);
    border-radius: 10%;
    color: #fff;
    line-height: 42px;
    text-decoration: none;
    text-align: right;
    margin-left: 70px;
    margin-top: 10px;
    font-size: 18px;
    padding-right: 10px;

}

/* ApoMarket block */

.ApoMarket p {
    color: white;
    padding: 10px;
    margin-top: 280px; 
    text-align: center;
}


/* hover animation */
.Tender_block, .ApoMarket, .PersonalWebsite {
    transition: transform 0.3s ease;
}

.Tender_block:hover, .ApoMarket:hover, .PersonalWebsite:hover {
    transform: scale(1.05);
}