<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/test.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <header>
        <nav>
            <a href="../template/index.html"><i class="fa fa-home fa-outline"></i>home</a>
            <a href="../template/about.html"><i class="fa fa-fw fa-info-circle"></i>about</a>
            <a href="../template/projects.html"><i class="fa fa-folder-open"></i>projects</a>
            <a href="#"><i class="fa fa-user"></i>contact</a>
        </nav>
    </header>
    <h1 class="intro">Let me introduce <span class="highlight">Myself</span>,</h1>
    <script src="../javascript/text_animation.js"></script>
</body>
</html>
