<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/text_animation.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
    <header>
        <nav>
            <div id="marker"></div>
            <a href="../template/home.html">home</a>
            <a href="#">about</a>
            <a href="#">projects</a>
            <a href="#">contact</a>
        </nav>
    </header>
    <h1 id="intro">About Me</h1>
    <div class="container">
    </div>
    <script src="../javascript/text_animation.js"></script>
</body>
</html>
