<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/text_animation.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <title>Home</title>
            <a class="class"href="#"><i class="fa fa-home fa-outline"></i>home</a>
            <a href="../template/about.html"><i class="fa fa-fw fa-info-circle"></i>about</a>
            <a href="../template/projects.html"><i class="fa fa-folder-open"></i>projects</a>
            <a href="../template/contact.html"><i class="fa fa-user"></i>contact</a>
        </nav>
        <script src="../javascript/home.js"></script>
    </header>
    <h1 id="intro">Hey,</h1>
    <h1 id="greeting">My name is Ilya</h1>
    <img src="../assest/Firmware-amico.png" alt="home_image" width="550" height="550">
    
    <div class="container">
        <span class="text sec-text" >Developer</span>
    </div>
    <script src="../javascript/text_animation.js"></script>
</body>
</html>
