<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Animation</title>
    <link rel="stylesheet" href="../css/scroll.css">
    <link rel="stylesheet" href="../css/projects.css">
    <link rel="stylesheet" href="../css/text_animation.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <header>
        <nav>
            <a class="class" href="../template/index.html"><i class="fa fa-home fa-outline"></i>home</a>
            <a href="../template/about.html"><i class="fa fa-fw fa-info-circle"></i>about</a>
            <a href="#"><i class="fa fa-folder-open"></i>projects</a>
            <a href="#"><i class="fa fa-user"></i>contact</a>
        </nav>
    </header>\
    <div class="scroll scroll3">
        <div class="content"></div>
    </div>
    <div class="container">
        <div class="block Tender_block"></div>
        <div class="block ApoMarket"></div>
        <div class="block PersonalWebsite"></div>
    </div>
        
    <script src="../javascript/text_animation.js"></script>
</body>
</html>
