<html lang="en">
<head>
    <title>Projects</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../assest/my_logo_transparent.png">
    <link rel="stylesheet" href="../css/projects.css">
    <link rel="stylesheet" href="../css/text_animation.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="../template/index.html"><i class="fa fa-home fa-outline"></i>home</a>
            <a href="../template/about.html"><i class="fa fa-fw fa-info-circle"></i>about</a>
            <a href="#"><i class="fa fa-folder-open"></i>projects</a>
            <a href="../template/contact.html"><i class="fa fa-user"></i>contact</a>
        </nav>
    </header>
    <div class="container">
        <!--Tender-->
        <div class="block Tender_block">
            
            <p>Ever got bored of your basic meals? Well look no further! Tender is a food app, 
                heavily inspired by the famous dating app, Tinder. You can swipe right if you like a certain food and swipe left if not. 
                Every food swiped right goes to your favorites sections and you can also get video and text instructions! </p>

            <a href="https://github.com/CodrOfTheFuture/Tender" class="common_button Tender_github">
                Github            </a>

            <a href="https://codrofthefuture.github.io/Tender/templates/index.html" class="common_button Tender_demo">
                Demo            </a>
        </div>

        <!--ApoMarket-->
        <div class="block ApoMarket">

            <p>It is 2034 and there is an ongoing zombie apocalypse. 
                During this time, my partner and I made a marketplace for survivors to 
                buy services and ressources from one another.</p>
                
            <a href="https://github.com/CodrOfTheFuture/Apocalypse-Alley" class="common_button ApoMarket_github">Github</a>
            <a href="example.com" class="common_button ApoMarket_demo">Demo</a>
        </div>

        <!--PersonalWebsite-->
        <div class="block PersonalWebsite">

            <p>This is my personal website. This is where I introduce myself and present all the awesome projects I have made!
                This is basically my resume but in a more fun and interactive way!</p>
                
            <a href="https://github.com/CodrOfTheFuture/PortfolioWebsite" class="common_button PersonalWebsite_github">Github</a>
            <a href="example.com" class="common_button PersonalWebsite_demo">Demo</a>
        </div>

    </div>

    <script src="../javascript/text_animation.js"></script>
</body>
</html>